body {
  text-align: center;
  overflow: hidden;
}

#background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, rgba(0,0,0,.94), black);

}

img {
  position: relative;
  z-index: 1;
  top: calc(50vh - 3.2em);
  height: 6.4em;
}
