@font-face {
  font-family: 'Gotham HTF';
  src: url('assets/fonts/GothamHTF-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham HTF';
  src: url('assets/fonts/GothamHTF-Book.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham HTF';
  src: url('assets/fonts/GothamHTF-Light.woff') format('woff');
  font-style: normal;
  font-weight: 100;
}
