$mobile: 800px;
$logo-animation-speed: 400;
$insta-colors: #415de6, #5951db, #833ab4, #c13584, #e1306c, #ff4848, #f56040, #f77737, #fcaf45;

$contact-gradient-color-1: #FFD469;
$contact-gradient-color-2: #EB5F8C;
$contact-error-color: #EB5F8C;
$contact-white-opaque: rgba(white, .37);

$contact-breakpoint-medium: 900px;
$contact-breakpoint-small: 600px;
$contact-breakpoint-tiny: 450px;
